@import "../../generals";

.proyectos {
  margin: 10rem 0;
  padding: 5rem 2rem;
  width: 100%;
  text-align: center;
  background: $mainColor;
  color: $secColor;

  h2 {
    display: inline-block;
    border-bottom: 3px solid;
    font-size: 2rem;
    margin: 2rem 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center;
    gap: 1rem;

    @media screen and (max-width: 1000px) {
      & {
        grid-template-columns: auto;
      }
    }
  }
}
