@import "../../generals";

.proyectos__list-item {
  position: relative;
  width: 100%;
  img {
    max-width: 100%;
    min-height: 100%;
  }

  &-technologies {
    display: flex;
    min-width: 80%;
    justify-content: space-evenly;

    .icon {
      background-color: #242424;
    }
  }

  .icon {
    object-fit: cover;
    padding: 0.2rem;
    max-width: 3rem;
  }

  &-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      text-decoration: none;
      background-color: $secColor;
      padding: 0.5rem;
      border-radius: 5px;

      color: $mainColor;
      font-weight: bold;

      &:hover {
        background: $mainColor;
        color: $secColor;
      }
    }
  }

  &:hover &-hover {
    opacity: 1;
  }

  &-hover {
    h3 {
      font-size: 1.5rem;
    }
    opacity: 0;
    display: flex;
    gap: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: #2e2e2ead;
    transition: all 500ms;
  }

  @media screen and (max-width: 630px) {
    .icon {
      max-width: 2rem;
    }

    &-links {
      a {
        font-size: 13px;
      }
    }

    &-hover {
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}
