@import "../../../generals";

.navbar--responsive__list {
  position: absolute;
  top: 100%;
  background-color: $mainColor;
  width: 100%;
  left: 0;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  z-index: 1;

  li {
    list-style: none;
    width: 100%;

    &:hover {
      background: darken($mainColor, 15%);
    }
    a {
      padding: 1rem;
      width: 100%;
      text-decoration: none;
      color: $secColor;
      display: inline-block;
    }

    @media screen and (max-width: 630px) {
      & {
        display: flex;
      }
    }
  }
}
