@import "../../generals";

header {
  color: $mainColor;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-height: 5rem;
  position: fixed;
  background: #fff;
  z-index: 9;

  img {
    object-fit: cover;
    max-width: 7.5rem;
  }

  .navbar {
    &__list {
      height: 100%;
      display: flex;
      gap: 2rem;
      align-items: center;
      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $mainColor;

          &:hover {
            border-bottom: 2px solid;
          }
        }
      }
    }

    &__bars {
      cursor: pointer;
      color: $mainColor;
      min-width: 3rem;
    }
  }
}
