@import "./generals";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  background: #fff;

  &-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &-thumb {
    background: $mainColor;
  }
}

.portfolio {
  font-family: "Roboto Slab", serif;
}
